
<div class="jumbotron">

<h1>Pages2#home2</h1>
<p>Find me in app/views/pages2/home2.html.erb</p>

<p>click here to  <%= link_to "sign up", "#", class: "btn btn-primary btn-lg" %></p>


<h1>pinteresting2</h1>
<p>My first project</p>
</div>